[package]
name = "bevy_framepace"
version = "0.14.1"
edition = "2021"
resolver = "2"
description = "Frame pacing and frame limiting for Bevy"
license = "MIT OR Apache-2.0"
repository = "https://github.com/aevyrie/bevy_framepace"
documentation = "https://docs.rs/bevy_framepace"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = { version = "0.12", default-features = false, features = [
    "bevy_render",
    "bevy_winit",
] }
spin_sleep = "1.0"

[features]
default = ["framepace_debug", "bevy/x11"]
framepace_debug = []

[dev-dependencies]
bevy = { version = "0.12", default-features = false, features = [
    "bevy_gizmos",
    "bevy_text",
    "bevy_ui",
    "default_font",
    "multi-threaded",
] }
